<header>
	<div class = "intro-content">
		<div>
			<%= image_tag "main_logo_7.png" %>
		</div>
		<p class = "text-center"><%= link_to "Sign in",new_user_session_path, class: "btn btn-success btn-lg"%></p>
	</div>
</header>

<footer>
	<p>Staging Sample Company LTD 2015-2016</p>
</footer>








