<div class="container">
	<h1>Import Data Records</h1>

	<div class="well">
		<strong><h4>Kindly follow the steps as listed for accurate results</h4></strong>
	</div>

	<ul class="list-group">
		<li class="list-group-item">Step 1: <%= link_to "Import Products",products_import_path %></li>
		<li class="list-group-item">Step 2: <%= link_to "Import Orders",orders_import_path %></li>
		<li class="list-group-item">Step 3: <%= link_to "Import LineItems", line_items_import_path %></li>
	</ul>
</div>