@import "bootstrap";
@import "bootstrap-sprockets";

@font-face {
 font-family: 'Glyphicons Halflings';
 src: font-url('glyphicons-halflings-regular.eot');
 src: font-url('glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
 font-url('glyphicons-halflings-regular.woff') format('woff'),
 font-url('glyphicons-halflings-regular.ttf') format('truetype'),
 font-url('glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}


body{
	padding-top:50px;
}

#page-content-wrapper{
	position:absolute;
	padding:15px;
	margin-left:250px;

}



#sidebar-wrapper{
	width:250px;
	z-index:1000;
	position:fixed;
	left:250px;
	height:100%;
	margin-left:-250px;
	overflow-y:auto;
	background:#193048;
}

.sidebar-nav{
	position:absolute;
	top:0;
	width:250px;
	margin:0 ;
	padding:0;
	list-style: none;
}

.sidebar-nav li{
	text-indent:40px;
	line-height: 60px;
}

.sidebar-nav li a{
	display:block;
	text-decoration:none;
	color:#999999;
}

.sidebar-nav li a:hover{
	text-decoration:none;
	color:#fff;
	background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus{
	text-decoration: none;
}

.sidebar-nav > .sidebar-brand{
	height:65px;
	font-size:18px;
	line-height: 60px;
}

p#true{
	color:#9FBF50;
}

p#false{
	color:#c9302c;
}


