.row {
	margin-top:30px;
}

.form_width{
	width:600px;
}

.panel.panel-primary{
	margin:0 20px 0 0;
}

.glyphicon.glyphicon-plus{
	font-size:50px;
}

.glyphicon.glyphicon-shopping-cart{
	font-size:50px;
}

.glyphicon.glyphicon-tasks{
	font-size:50px;
}

.glyphicon.glyphicon-folder-open{
	font-size:50px;
}

.glyphicon.glyphicon-stats{
	font-size:50px;
}

/*-- New session page - sign in --*/
.logo{
	text-align:center;
	margin-bottom:20px;
}

.well{
	background-color:rgba(101,67,33,0.5);
	border:0px;
	border-radius:20px;
}

input:-webkit-autofill{
	-webkit-box-shadow: 0 0 0 1000px white inset;
}

h2{
	color:#fff;
}

.shared_links{
	margin-top:20px;
}

label{
	color:#fff;
}

.shared_links a{
	color:#fff;
}

footer{
  position:fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 5px;
  text-align: center;
  color:rgba(101,67,33,1);

}

/* -- end of new session page --*/

/* products */
.product_links{
	margin-bottom:20px;
}

/* -- store design --*/
.store_logo{
	text-align:center;
	margin:0px 0 0 30px;
}

.header_links{
	text-align:center;
	background:rgba(101,67,33,0.5);
	margin:20px 500px 20px 500px;
	border-radius:10px;

}

.header_links ul{
	padding:10px;
	
}

.header_links li{
	display:inline;
	padding:0px 10px 0px 10px;
}

.header_links a{
	color:#fff;
}

h1{
	font-family: "Abel",Arial,sans-serif;
	font-weight:400;
	font-size:40px;
}

#store_wrapper{
	width:1000px;
	margin:0 auto;
}

.panel.cart{
	position:absolute;
	width:300px;
	margin-top:50px;
	margin-left:5px;
	margin-right:10px;
	border:0px;
	box-shadow: 0px 3px 5px  rgba(101,67,33,0.5);
}

.panel-default >
.panel-heading{
	background-color:rgba(101,67,33,0.5);
	color:#fff;
}

.thumbnail{
	overflow:hidden;
	padding:0px;
	height:250px;
	box-shadow: 0px 3px 5px  rgba(101,67,33,0.5);
}

.thumbnail
.caption{
	padding:20px;
}

#cart
.btn.btn-danger{
	margin-bottom:5px;
}





.navbar-default{
	background-color:rgba(101,67,33,0.5);
	border:0px;
}

.navbar-default
.navbar-nav > li > a {
	color:#fff;
}

.navbar-default
.navbar-brand{
	color:#fff;
}

.container-fluid .navbar-brand{
	color:#fff;
}

p{
	margin:0 0 0px;
}

.list-group{
	margin-top: 35px;
}



/*--end of store stuff --*/

/*-- dashboard stuff --*/
.inventory_tab{
	background-color:#fff;
	padding:10px;
	max-width:300px;
	border-radius:10px;
	margin-bottom:20px;
	font-size:16px;
}
.inventory_tab p{
	display:inline;
	margin-left:10px;
}
.user_name h2{
	color:#000;
}

.sales_tab{
	background-color:#fff;
	padding:10px;
	max-width:300px;
	border-radius:10px;
	margin-bottom:20px;
	font-size:16px;
}

.sales_tab p{
	display:inline;
	margin-left:10px;
}

.dashboard_wrapper{
	text-align:center;
}

.options div{
	margin:20px auto;
}



.btn-default{
	margin-top:20px;
}



/* end of dashboard */

p#paid{
	color:#9FBF50;
}

p#not_paid{
	color:#c9302c;
}

.glyphicon.glyphicon-exclamation-sign{
	color:#c9302c;
	font-size:15px;
}

.badge{
	background-color:transparent;
}

/*---products---*/
.table{
	background-color:#fff;
	border-radius:10px;

}

.table > tbody > tr > td{
	padding:20px 10px 20px 10px;
}

.table > thead > tr > th{
	padding:10px 10px 10px 10px;
	background-color:rgba(101,67,33,0.67);
}

h1{
	margin-bottom:20px;
}

.form-group label{
	color:#000;
	font-size:16px;
}

.order_edit{
	font-size:20px;
}

.order_cash_paid{
	margin-top:50px;
}

.orderform-width{
	margin-top:20px;
	width:600px;
}

.order_change{
	margin-top:20px;
}

.order_store_links{
	margin-top:40px;
}