.row {
	margin-top:30px;
}

.panel.panel-primary{
	margin:0 20px 0 0;
}

.glyphicon.glyphicon-plus{
	font-size:50px;
}

.glyphicon.glyphicon-shopping-cart{
	font-size:50px;
}

.glyphicon.glyphicon-tasks{
	font-size:50px;
}

.glyphicon.glyphicon-folder-open{
	font-size:50px;
}

.glyphicon.glyphicon-stats{
	font-size:50px;
}


/*----forms---*/
.form_width{
	width:400px;
}

.shared_links{
	margin-top:20px;
}

h1{
	font-family: "Abel",Arial,sans-serif;
	font-weight:400;
	font-size:40px;
}



