@import "bootstrap";
@import "bootstrap-sprockets";


@font-face {
 font-family: 'Glyphicons Halflings';
 src: font-url('glyphicons-halflings-regular.eot');
 src: font-url('glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
 font-url('glyphicons-halflings-regular.woff') format('woff'),
 font-url('glyphicons-halflings-regular.ttf') format('truetype'),
 font-url('glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

body{
	width:100%;
	height:100%;
	background: image-url("sample_7.png") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

html{
	width:100%;
	height:100%;


}

.navbar-custom{
	margin-bottom:0;
	text-transform: uppercase;
	background:transparent;
	padding-top:20px;
	border-bottom:0px solid rgba(255,255,255,.1);	
}



.navbar-default
.navbar-brand{
	color:#fff;
	font-family: "Enriqueta",Arial,serif;
	font-size:1.6em;
}

.navbar-default
.navbar-nav > li > a {
	color:#fff;
	font-size:1.2em;
	font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight:400;
	letter-spacing: 1px;

}

.navbar-default
.navbar-nav > li > a:hover{
	background-color:#d84c4c;
}



header .intro-content{
	position:fixed;
	top:40%;
	left:50%;
	transform:translate(-50%,-50%);
}

.btn-lg{
	margin-top:20px;
}










