<h2> List Of Users</h2>
<table class = "table table-hover table-striped">
	<thead>
		<tr>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Email Address</th>
			<th>Admin status</th>
		</tr>
	</thead>

	<tbody>
		<% @users.each do |user| %>
		<tr>
			<td><%= user.first_name %></td>
			<td><%= user.last_name %></td>
			<td><%= user.email %></td>
			<td>
				<% if user.admin %>
				<strong><p id = "true">Administrator</p></strong>
				<%else%>
				<strong><p id = "false">Basic User</p></strong>
				<%end%>
			</td>
		</tr>
		<%end%>
	</tbody>
</table>


<%= link_to "Create New User", new_admin_user_path,class: "btn btn-primary" %>
