<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Total Value Of Current Assets In Inventory</h3>
  </div>
  <div class="panel-body">
  	<h4><%= number_to_currency(@total_inventory,:precision => 2,:unit => "Ksh",:format => "%u %n") %></h4>
  </div>
</div>